@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif {
  font-family: "Noto Serif", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  
 }
 :root{
    --bg-color: #F5F8FF;
    --color: #ffffff;
    --paragraph-color: rgba(0, 0, 0, 0.5);
    --main-color: #E95A08;
    --footer-text-color: #6B7280;
    --lili-blosom-color: #111111;
    --nav-color: #8987A1;
 }
body{
    width: 1440px;
    /* height: auto; */
    background: var(--bg-color);
    /* margin-inline: clamp(1rem, -3.4 06rem + 17.938vi, 9.375rem);  */
    margin: 0 auto;
}


.white{
  color: white;
}

/* navbar related styles */


.nav-container{
  margin-inline: 150px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
/* .nav-left{
  width: 135px;
  height: 82px;
} */
.nav-left .nav-logo{
  width: 100%;
  height: 100%;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  gap: 48px;
  font-size: 1rem;
  font-weight: bold;
  
}

.nav-color{
  color: var(--nav-color);
  font-size: 1rem;
  font-weight: 400;

}
.cart-icon{
  margin-right: 11px;
}
.nav-list li {
  list-style: none;
}
.nav-list a{
  text-decoration: none;
}


/* banner related styles */



.banner-container{
  margin-inline: 150px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 226px;
}
.banner-left{
  max-width: 570px;
}

.banner-head{
  font-size: clamp(1.5rem, 0.152rem + 5.489vi, 4.063rem);
}
.main-color{
  color: var(--main-color);
}
.banner-descri{
  font-size: clamp(0.875rem, 0.612rem + 1.071vi, 1.375rem);
  color: var(--paragraph-color);
}
/* main section related styles */



 .shop-text-container{
  margin-inline: 150px;
  text-align: center;
  margin-top: 120px;
 }
 .shop-image-container{
  margin-inline: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-bottom: 222px;
 }

 .shop-head{
  font-size: clamp(1.5rem, 0.645rem + 3.481vi, 3.125rem);
  font-weight: bold;
 }

 .shop-descri{
  font-size: clamp(0.875rem, 0.612rem + 1.071vi, 1.375rem);
  color: var(--paragraph-color);
  margin: 16px 0 49px 0;
 }
 .img-card{
  text-align: center;
 }
.name{
  font-size: clamp(1rem, 0.803rem + 0.803vi, 1.375rem);
  margin: 30px 0 20px 0;
  font-weight: 500;
}

.price{
  font-size: lamp(1rem, 0.803rem + 0.803vi, 1.375rem);
  font-weight: bold;
  margin-bottom: 30px;
}
 .cart-btn{
  font-weight: 600;
  font-size: 16px;
  border: none;
  padding: 19px 80px;
  background-color: var(--main-color);
  color: white;
 }
 /* planet lover related styles */
.lover-left{
  position: relative;
}
.lover-descri{
  position: relative;
}
 .lover-container{
  margin-inline: 150px;
  display: flex;
  justify-content: space-between;
  gap: 110px;
  margin-bottom: clamp(8.938rem, 9.595rem + -2.677vi, 7.688rem);
 }
.lover-head{
  font-size: clamp(1.5rem, 0.645rem + 3.481vi, 3.125rem);
  font-weight: bold;
  margin-bottom: clamp(1rem, 0.868rem + 0.535vi, 1.25rem);
}
.dot{
  position: absolute;
  top: 10px;
  left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:var(--paragraph-color)
  
 }
.descri-text{
  font-size: clamp(0.875rem, 0.612rem + 1.071vi, 1.375rem);
  color: var(--paragraph-color);
  margin-bottom: clamp(1rem, 0.868rem + 0.535vi, 1.25rem);
  font-weight: 400;
}

.lover-right{
  display: grid;
  place-content: center;
}

.trusted-sellar{
  width: 286px;
  height: auto;
  position: absolute;
  right: -90px;
  top: -140px;
  filter: drop-shadow(-4px 10px 4px  rgba(0, 0, 0, 0.25));
}


/* latest deal related styles */

.latest-text-container{
  margin-inline: 150px;
  text-align: center;
}

.latest-img-container{
  margin-inline: 150px;
  display: flex;
  margin-bottom: 120px;

}
.latest-head{
  font-size: clamp(1.5rem, 0.645rem + 3.481vi, 3.125rem);
  margin-bottom: 16px;
  font-weight: bold;
}
.latest-descri{
  font-size: clamp(0.875rem, 0.612rem + 1.071vi, 1.375rem);
  color: var(--paragraph-color);
  margin-inline: 140px;
  margin-bottom: clamp(3.25rem, 1.014rem + 9.103vi, 7.5rem);

}

.bloom-1{
  border-radius: 14px;
  position: relative;
  
}

.text-on-img-1{
  position: relative;
  top: -120px;
  left: 90px;
}
.img-1-text{
  font-size: 20px;
  font-weight: bold;
}
.img-1-shop{
  position: absolute;
  font-size: 14px;
  left: 50px;
  font-weight: 600;
}
.ana-2{
  border-radius: 14px;
  position: relative;

}
.text-on-img-2{
  position: relative;
  top: -120px;
  left: 90px;
}

.img-2-text{
  font-size: 20px;
}

.img-2-shop{
  position: absolute;
  font-size: 14px;
  left: 50px;
  font-weight: 600;

}
.zabo-3{
  border-radius: 22px;
  position: relative;
  margin-left: 28px;
}
.text-on-img-3{
  position: relative;
  width: 440px;
  top: -240px;
  left: 220px;
}

.img-3-text{
  font-size: clamp(1.25rem, 0.592rem + 2.677vi, 2.5rem);
  font-weight: bold;
}

.img-3-shop{
  position: absolute;
  font-size: 28px;
  left: 130px;
  font-weight: 600;
}


/* subscribe related styles */



.subscribe-container{
  position: relative;
}
.subscribe-head{
  position: relative;
  top: -330px;
  left: 420px;
  font-size: clamp(1.25rem, 0.264rem + 4.016vi, 3.125rem);
  color: white;
  font-weight: bold;
  margin-bottom: 23px;
}

.email{
  width: clamp(218px, 40.7vw, 644px);
  height: 50px;
  border: none;
  color: var(--paragraph-color);
  padding-left: 20px;
  font-size: 16px;
}
.subscribe-input{
  position: relative;
  top: -330px;
  left: 330px;
}
.subscribe-btn{
  position: absolute;
  width: clamp(103px, 18vw, 186px);
  height: 50px;
  border: none;
  color: white;
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  
}

/* footer related styles */
 /* footer{
  width: 100%;
 } */

.footer-container{
  display: flex;
  justify-content: space-around;
}

.footer-img{
  margin-bottom: 16px;
}
.footer-descri{
  font-size: clamp(1rem, 0.859rem + 0.573vi, 1.375rem);
  color: var(--paragraph-color);
  line-height: 27px;
}

.footer-option{
  margin-bottom: 32px;
  list-style: none;
  text-decoration: none;
  color: var(--footer-text-color);
}

.footer-middle{
  display: flex;
  gap: 111px;
}


.handle{
  margin-right: 24px;
}

.twitter{
  position: relative;
  top: -7px;
}





/* small responsive layout */






@media (max-width:400px) {

 /* Body */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

 /* Navbar */
.nav-container {
  margin: 15px;
  align-items: center;
  /* flex-direction: row; */
  justify-content: space-between;
}
.nav-list li {
  display: none;
}
.nav-list li:last-child {
  display: inline-block;
}

 /* Banner */
.banner-container {
  margin-inline: 15px;
  margin-top: 28px;
  flex-direction: column-reverse;
  flex: reverse;
  align-items: center;
  gap: 20px;
    
}
.banner-head{
  font-weight: bold;
  margin-bottom: 13px;
}

/* 
.banner-left {
 max-width: 100%;
} */

.banner-img {
 max-width: 100%;
}


/* Shop Section */
.shop-text-container {
  margin-inline: 30px;
  margin-top: 65px;
  text-align: center;
}
.shop-descri{
  margin-bottom: 28px;
}

.cart-btn {
    padding: 10px 20px;
    width: 100%;
}

.shop-image-container{
  margin-inline: 15px;
  margin-bottom: 42px;
  grid-template-columns: repeat(2, 1fr);
}
.flower-img{
  width: 100%;
}

/* Lover Section */
.lover-container {
  margin-inline:15px;
  flex-direction: column;
  gap: 18px; 
}
.lover-img{
  width: 100%;
}
.lover-descri{
  font-size: 14px;
}
.trusted-sellar{
  display: none;
}


/* Latest Section */
.latest-text-container {
  margin-inline: 28px;
  text-align: center;
}
.latest-descri{
  margin-inline: 5px;
}
.latest-img-container {
  flex-direction: column;
  gap: 20px;
  margin-inline: 16px;
}

.bloom-1,
.ana-2,
.zabo-3{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ana-2{
  border-radius:0;
}

.text-on-img-1,
.text-on-img-2,
.text-on-img-3{
  width: 200px;
}


.text-on-img-3{
  display: no;
}
.img-1-text,
.img-2-text,
.img-3-text{
  width: 270px;
}


.img-3-shop,
.img-1-shop,
.img-1-shop{
  width: 200px;
}
.img-3-text{
  position: relative;
  left: -145px;
  top: 115px;
}

.img-3-shop{
  position: relative;
  left: -90px;
  top: 115px;
  font-size: 14px;
}

  /* Subscribe Section */

.subscribe-head{
  position: relative;
  width: 321px;
  top: -180px;
  left: 70px;
}
.subscribe-img{
  width: 393px;
  height: 276px;
  object-fit: cover;
  width: 100%;
}

.subscribe-input{
  position: relative;
  width: 321px;
  top: -190px;
  left: 35px;
}
 
/* Footer */

.footer-container {
  flex-direction: column;
  width: 321px;
  /* align-items: center; */
  /* gap: 20px; */
  padding-inline:  16px;
}

.footer-middle {
  flex-direction: column;
  gap: 10px;
}

.footer-option {
  font-size: 14px;
}

}